<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    </head>
    <body style="height: 100%; margin: 0;BACKGROUND-COLOR:#ECFFFF">
        <div class="headerpage"></div>
        <h1 align="center">AR Glass设备应用内存性能监控</h1>
        <form action="/device" method="get">
            <input type="text" name="device" id="device" value="请输入设备ip地址" onfocus="javascript:if(this.value=='请输入设备ip地址')this.value='';">
            <input type="text" name="appname" id="device" value="请输入app包名" onfocus="javascript:if(this.value=='请输入app包名')this.value='';">
            <input type="submit" value="&nbsp;&nbsp;立即连接" >
        </form>
        <!-- <div class="col-sm-10"></div>
            <p>请选择监控进程</p>
            <select id="appsname">
                <option selected value="">---请选择---</option>
            </select>
        </div> -->
        <div id="app" >
            <input type="text" id="timeValue" value="0秒" readonly style="float:right" />
            <br>
            <button type="button" onclick="stopTimer()" style="float:right">&nbsp;停止记录&nbsp;</button>
            <button type="button" onclick="startTimer()" style="float:right">&nbsp;开始记录&nbsp;</button>
        </div>
        <br>
        <div id="container" style="height: 70%"></div>
        <script type="text/javascript">
        $(function(){
            /*公共部分
            * 导航栏
            * footer CopyRight
            */
            // $(".headerpage").load("load/header.html");/*浏览器容易引起跨域问题*/
            $(".headerpage").load('/ #navigation');
        });
        var checkValue=$("#appsname").val();
        var dom = document.getElementById("container");
        var chart = echarts.init(dom);
        var app = {};
        option = {
                    tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                    toolbox:{
                        show: true,
                        feature: {
                            dataView: { //数据视图
                                show: true
                            },
                            dataZoom: { //数据缩放视图
                                show: true
                            },
                            saveAsImage: {//保存图片
                                show: true
                            }
                            }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
        };
        $(
            function () {
                fetchData(chart);
                setInterval(getDynamicData, 2000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "/lineCharts",
                dataType: "json",
                success: function (result) {
                    chart.setOption(result);
                    time_data = chart.getOption().xAxis[0].data;
                    data1 = chart.getOption().series[0].data;
                    data2 = chart.getOption().series[1].data;
                    data3 = chart.getOption().series[2].data;
                    data4 = chart.getOption().series[3].data;
                    data5 = chart.getOption().series[4].data;
                    data6 = chart.getOption().series[5].data;
                    data7 = chart.getOption().series[6].data;
                    data8 = chart.getOption().series[7].data;
                }
            });
        }



        function getDynamicData() {
            $.ajax({
                type: "GET",
                url: "/lineDynamicDatas",
                dataType: "json",
                success: function (result) {
                    time_data.push([result.name]);
                    data1.push([result.name,result.value.java_mem]);
                    data2.push([result.name,result.value.native_mem]);
                    data3.push([result.name,result.value.code_mem]);
                    data4.push([result.name,result.value.stack_mem]);
                    data5.push([result.name,result.value.graph_mem]);
                    data6.push([result.name,result.value.other_mem]);
                    data7.push([result.name,result.value.system_mem]);
                    data8.push([result.name,result.value.total_mem]);
                    chart.setOption({
                        legend: {
                            data: ['java_mem', 'native_mem', 'code_mem', 'stack_mem', 'graph_mem', 'other_mem', 'system_mem', 'total_mem']
                        },
                        xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: time_data
                    }
                    ],
                        series: [
                            {
                                name: 'java_mem',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data1,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(0,255,255)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(0,255,255)'
                                    }])
                                }
                            },
                            {
                                name: 'native_mem',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data2,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(0,191,255)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(0,191,255)'
                                    }])
                                }
                            },
                            {
                                name: 'code_mem',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data3,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(100,149,237)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(100,149,237)'
                                    }])
                                }
                            },
                            {
                                name: 'stack_mem',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data4,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(0,128,128)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(0,128,128)'
                                    }])
                                }
                            },
                            {
                                name: 'graph_mem',
                                type: 'line',
                                stack: '总量',
                                label: {
                                    show: true,
                                    position: 'top'
                                },
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data5,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(255,140,0)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(255,140,0)'
                                    }])
                                }
                            },
                            {
                                name: 'other_mem',
                                type: 'line',
                                stack: '总量',
                                label: {
                                    show: true,
                                    position: 'top'
                                },
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data6,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(70,130,180)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(70,130,180)'
                                    }])
                                }
                            },
                            {
                                name: 'system_mem',
                                type: 'line',
                                stack: '总量',
                                label: {
                                    show: true,
                                    position: 'top'
                                },
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data7,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(119,136,153)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(119,136,153)'
                                    }])
                                }
                            },
                            {
                                name: 'total_mem',
                                type: 'line',
                                symbol: 'circle',
                                symbolSize: 8,
                                smooth: true,                                 
                                data: data8
                            },
                        ]
                    });
                }
            });
        }
if (option && typeof option === 'object') {
    chart.setOption(option);
}
        second=0;//初始化

        var clock;//计时器
        function startTimer()//开始
        {
            clock=setInterval(timer,1000);
        }

        function stopTimer() {
            //停止计时
            clearInterval(clock);
            document.getElementById('timeValue').value=second+'秒';
            second=0;
        }
        //计时函数
        function timer(){
            second++;
            document.getElementById('timeValue').value=second+'秒';
        }
        </script>
    </body>
</html>
