<!--
    THIS EXAMPLE WAS DOWNLOADED FROM https://echarts.apache.org/examples/zh/editor.html?c=area-stack
-->
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    </head>
    <body style="height: 100%; margin: 0">
        <h1 align="center">AR Glass设备性能监控</h1>
        <div>
            <input type="text"  >
            <br>
        </div>
        <div class="father">
            <el-button type="primary" @click="startHandler">开始录制</el-button>
		    <el-button type="primary" @click="endHandler">结束录制</el-button>
        </div>
        <br>
        <div id="container" style="height: 100%"></div>

        <!-- Uncomment this line if you want to dataTool extension
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/dataTool.min.js"></script>
        -->
        <!-- Uncomment this line if you want to use gl extension
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
        -->
        <!-- Uncomment this line if you want to echarts-stat extension
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
        -->
        <!-- Uncomment this line if you want to use map
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/china.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/world.js"></script>
        -->
        <!-- Uncomment these two lines if you want to use bmap extension
        <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=<Your Key Here>"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js"></script>
        -->

        <script type="text/javascript">
        var dom = document.getElementById("container");
        var chart = echarts.init(dom);
        var app = {};
        //var time_data=[];
        //var data1=[];
        //var data2=[];
        //var data3=[];
        //var data4=[];
        //var data5=[];
        //var data6=[];
        //var data7=[];
        //var data8=[];
        //var option;
        
        option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        //data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
                        data: ['java_mem', 'native_mem', 'code_mem', 'stack_mem', 'graph_mem', 'others_mem', 'system_mem', 'total_mem']
                    },
                    toolbox: {
                         feature: {
                              saveAsImage: {}
                          }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: []
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: 'java_mem',
                            type: 'line',
                            stack: '总量',
                            areaStyle: {},
                            emphasis: {
                                focus: 'series'
                            },
                            data: []
                        },
                        {
                            name: 'native_mem',
                            type: 'line',
                            stack: '总量',
                            areaStyle: {},
                            emphasis: {
                                focus: 'series'
                            },
                            data: []
                        },
                        {
                            name: 'code_mem',
                            type: 'line',
                            stack: '总量',
                            areaStyle: {},
                            emphasis: {
                                focus: 'series'
                            },
                            data: []
                        },
                        {
                            name: 'stack_mem',
                            type: 'line',
                            stack: '总量',
                            areaStyle: {},
                            emphasis: {
                                focus: 'series'
                            },
                            data: []
                        },
                        {
                            name: 'graph_mem',
                            type: 'line',
                            stack: '总量',
                            label: {
                                show: true,
                                position: 'top'
                            },
                            areaStyle: {},
                            emphasis: {
                                focus: 'series'
                            },
                            data: []
                        },
                        {
                            name: 'others_mem',
                            type: 'line',
                            stack: '总量',
                            label: {
                                show: true,
                                position: 'top'
                            },
                            areaStyle: {},
                            emphasis: {
                                focus: 'series'
                            },
                            data: []
                        },
                        {
                            name: 'system_mem',
                            type: 'line',
                            stack: '总量',
                            label: {
                                show: true,
                                position: 'top'
                            },
                            areaStyle: {},
                            emphasis: {
                                focus: 'series'
                            },
                            data: []
                        },
                        {
                            name: 'total_mem',
                            type: 'line',
                            stack: '总量',
                            label: {
                                show: true,
                                position: 'top'
                            },
                            areaStyle: {},
                            emphasis: {
                                focus: 'series'
                            },
                            data: []
                        },
                    ]
                };
        $(
            function () {
                fetchData(chart);
                setInterval(getDynamicData, 2000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "/lineCharts",
                dataType: "json",
                success: function (result) {
                    chart.setOption(result);
                    time_data = chart.getOption().xAxis[0].data;
                    data1 = chart.getOption().series[0].data;
                    data2 = chart.getOption().series[1].data;
                    data3 = chart.getOption().series[2].data;
                    data4 = chart.getOption().series[3].data;
                    data5 = chart.getOption().series[4].data;
                    data6 = chart.getOption().series[5].data;
                    data7 = chart.getOption().series[6].data;
                    data8 = chart.getOption().series[7].data;
                    data = chart.getOption().series[0].data
                    //old_data = chart.getOption().series;
                    
                }
            });
        }



        function getDynamicData() {
            $.ajax({
                type: "GET",
                url: "/lineDynamicDatas",
                dataType: "json",
                success: function (result) {
                    time_data.push([result.name]);
                    data1.push([result.name,result.value.code_mem]);
                    data2.push([result.name,result.value.graph_mem]);
                    data3.push([result.name,result.value.java_mem]);
                    data4.push([result.name,result.value.native_mem]);
                    data5.push([result.name,result.value.others_mem]);
                    data6.push([result.name,result.value.stack_mem]);
                    data7.push([result.name,result.value.system_mem]);
                    data8.push([result.name,result.value.total_mem]);
                    chart.setOption({
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        legend: {
                            //data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
                            data: ['java_mem', 'native_mem', 'code_mem', 'stack_mem', 'graph_mem', 'others_mem', 'system_mem', 'total_mem']
                        },
                        xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: time_data
                    }
                    ],
                        series: [
                            {
                                name: 'java_mem',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data1,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(128, 255, 165)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(1, 191, 236)'
                                    }])
                                }
                            },
                            {
                                name: 'native_mem',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data2,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(0, 221, 255)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(77, 119, 255)'
                                    }])
                                }
                            },
                            {
                                name: 'code_mem',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data3,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(55, 162, 255)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(116, 21, 219)'
                                    }])
                                }
                            },
                            {
                                name: 'stack_mem',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data4,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(255, 0, 135)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(135, 0, 157)'
                                    }])
                                }
                            },
                            {
                                name: 'graph_mem',
                                type: 'line',
                                stack: '总量',
                                label: {
                                    show: true,
                                    position: 'top'
                                },
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data5,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(255, 191, 0)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(224, 62, 76)'
                                    }])
                                }
                            },
                            {
                                name: 'others_mem',
                                type: 'line',
                                stack: '总量',
                                label: {
                                    show: true,
                                    position: 'top'
                                },
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data6,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(225, 191, 0)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(124, 62, 76)'
                                    }])
                                }
                            },
                            {
                                name: 'system_mem',
                                type: 'line',
                                stack: '总量',
                                label: {
                                    show: true,
                                    position: 'top'
                                },
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data7,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(255, 151, 0)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(224, 162, 76)'
                                    }])
                                }
                            },
                            {
                                name: 'total_mem',
                                type: 'line',
                                stack: '总量',
                                label: {
                                    show: true,
                                    position: 'top'
                                },
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data8,
                                areaStyle: {
                                    opacity: 0.8,
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(255, 191, 80)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(224, 62, 176)'
                                    }])
                                }
                            }
                        ]
                    });
                }
            });
        }
if (option && typeof option === 'object') {
    chart.setOption(option);
}

        </script>
    </body>
</html>
    