<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body style="height: 100%; margin: 0;BACKGROUND-COLOR:#ECFFFF">
        <div class="headerpage"></div>
        <h1 align="center">AR Glass设备物理内存性能监控</h1>
        <form action="/linkdevice" method="get">
            <input type="text" name="device" id="device" value="请输入设备ip地址" onfocus="javascript:if(this.value=='请输入设备ip地址')this.value='';">
            <input type="submit" value="立即连接" >
        </form>
        <div id="app">
            <input type="text" id="timeValue" value="0秒" readonly style="float:right" />
            <br>
            <button type="button" onclick="stopTimer()" style="float:right">&nbsp;停止记录&nbsp;</button>
            <button type="button" onclick="startTimer()" style="float:right">&nbsp;开始记录&nbsp;</button>
        </div>
        <br>
        <div id="container" style="height: 70%"></div>
        <script type="text/javascript">
        $(function(){
            /*公共部分
            * 导航栏
            * footer CopyRight
            */
            // $(".headerpage").load("load/header.html");/*浏览器容易引起跨域问题*/
            $(".headerpage").load('/ #navigation');
        });
        var dom = document.getElementById("container");
        var chart = echarts.init(dom);
        var app = {};
        option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        data: ['total_mem', 'used_mem', 'free_mem']
                    },
                    toolbox: {
                         feature: {
                              saveAsImage: {}
                          }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: []
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: 'total_mem',
                            type: 'line',
                            symbol: 'circle',
                            symbolSize: 8, 
                            data: [],
                            areaStyle: {
                                    opacity: 0.8,
                                    color: "#5B00AE"
                                }
                        },
                        {
                            name: 'used_mem',
                            type: 'line',
                            stack: '总量',
                            areaStyle: {},
                            emphasis: {
                                focus: 'series'
                            },
                            data: [],
                            areaStyle: {
                                    opacity: 0.8,
                                    color: "#FF8000"
                                }
                        },
                        {
                            name: 'free_mem',
                            type: 'line',
                            stack: '总量',
                            areaStyle: {},
                            emphasis: {
                                focus: 'series'
                            },
                            data: [],
                            areaStyle: {
                                    opacity: 0.8,
                                    color: "#CCFF80"
                                }
                        },
                    ]
                };
        $(
            function () {
                fetchData(chart);
                setInterval(getDynamicData, 2000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "/lineChart",
                dataType: "json",
                success: function (result) {
                    chart.setOption(result);
                    time_data = chart.getOption().xAxis[0].data;
                    data1 = chart.getOption().series[0].data;
                    data2 = chart.getOption().series[1].data;
                    data3 = chart.getOption().series[2].data;
                }
            });
        }
        function getDynamicData() {
            $.ajax({
                type: "GET",
                url: "/lineDynamicData",
                dataType: "json",
                success: function (result) {
                    time_data.push([result.name]);
                    data1.push([result.name,result.value.total_mem]);
                    data2.push([result.name,result.value.used_mem]);
                    data3.push([result.name,result.value.free_mem]);
                    chart.setOption({
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        legend: {
                            data: ['total_mem', 'used_mem', 'free_mem']
                        },
                        xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: time_data
                    }
                    ],
                        series: [
                            {
                                name: 'total_mem',
                                type: 'line',
                                symbol: 'circle',
                                symbolSize: 8, 
                                data: data1
                            },
                            {
                                name: 'used_mem',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data2
                            },
                            {
                                name: 'free_mem',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: data3
                            },
                        ]
                    });
                }
            });
        }
if (option && typeof option === 'object') {
    chart.setOption(option);
}
        var second;//时 分 秒
        second=0;//初始化

        var clock;//计时器
        function startTimer()//开始
        {
            clock=setInterval(timer,1000);
        }

        function stopTimer() {
            //停止计时
            clearInterval(clock);
            document.getElementById('timeValue').value=second+'秒';
            second=0;
        }
        //计时函数
        function timer(){
            second++;
            document.getElementById('timeValue').value=second+'秒';
        }
        </script>
    </body>
</html>
