<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="a14ba38c2de74a4fa8c5973b86d1b2ec" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_a14ba38c2de74a4fa8c5973b86d1b2ec = echarts.init(
            document.getElementById('a14ba38c2de74a4fa8c5973b86d1b2ec'), 'white', {renderer: 'canvas'});
        var option_a14ba38c2de74a4fa8c5973b86d1b2ec = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#80FFA5",
        "#00DDFF",
        "#37A2FF",
        "#FF0087",
        "#FFBF00"
    ],
    "series": [
        {
            "type": "line",
            "name": "java_mem",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "clip": true,
            "step": false,
            "stack": "stack",
            "data": [
                [
                    "\u5468\u4e00",
                    140
                ],
                [
                    "\u5468\u4e8c",
                    232
                ],
                [
                    "\u5468\u4e09",
                    101
                ],
                [
                    "\u5468\u56db",
                    264
                ],
                [
                    "\u5468\u4e94",
                    90
                ],
                [
                    "\u5468\u516d",
                    340
                ],
                [
                    "\u5468\u65e5",
                    250
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 0,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.8,
                "color":                                     new echarts.graphic.LinearGradient(                                        0, 0, 0, 1,                                        [{offset: 0, color: 'rgba(128, 255, 165)'},                                        {offset: 1, color: 'rgba(1, 191, 236)'}],                                        false)                                    
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "native_mem",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "clip": true,
            "step": false,
            "stack": "stack",
            "data": [
                [
                    "\u5468\u4e00",
                    120
                ],
                [
                    "\u5468\u4e8c",
                    282
                ],
                [
                    "\u5468\u4e09",
                    111
                ],
                [
                    "\u5468\u56db",
                    234
                ],
                [
                    "\u5468\u4e94",
                    220
                ],
                [
                    "\u5468\u516d",
                    340
                ],
                [
                    "\u5468\u65e5",
                    310
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 0,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.8,
                "color":                                     new echarts.graphic.LinearGradient(                                        0, 0, 0, 1,                                        [{offset: 0, color: 'rgba(0, 221, 255)'},                                        {offset: 1, color: 'rgba(77, 119, 255)'}],                                        false)                                    
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "code_mem",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "clip": true,
            "step": false,
            "stack": "stack",
            "data": [
                [
                    "\u5468\u4e00",
                    320
                ],
                [
                    "\u5468\u4e8c",
                    132
                ],
                [
                    "\u5468\u4e09",
                    201
                ],
                [
                    "\u5468\u56db",
                    334
                ],
                [
                    "\u5468\u4e94",
                    190
                ],
                [
                    "\u5468\u516d",
                    130
                ],
                [
                    "\u5468\u65e5",
                    220
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 0,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.8,
                "color":                                     new echarts.graphic.LinearGradient(                                        0, 0, 0, 1,                                        [{offset: 0, color: 'rgba(55, 162, 255)'},                                        {offset: 1, color: 'rgba(116, 21, 219)'}],                                        false)                                    
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "stack_mem",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "clip": true,
            "step": false,
            "stack": "stack",
            "data": [
                [
                    "\u5468\u4e00",
                    220
                ],
                [
                    "\u5468\u4e8c",
                    402
                ],
                [
                    "\u5468\u4e09",
                    231
                ],
                [
                    "\u5468\u56db",
                    134
                ],
                [
                    "\u5468\u4e94",
                    190
                ],
                [
                    "\u5468\u516d",
                    230
                ],
                [
                    "\u5468\u65e5",
                    120
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 0,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.8,
                "color":                                     new echarts.graphic.LinearGradient(                                        0, 0, 0, 1,                                        [{offset: 0, color: 'rgba(255, 0, 135)'},                                        {offset: 1, color: 'rgba(135, 0, 157)'}],                                        false)                                    
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "graph_mem",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "clip": true,
            "step": false,
            "stack": "stack",
            "data": [
                [
                    "\u5468\u4e00",
                    220
                ],
                [
                    "\u5468\u4e8c",
                    302
                ],
                [
                    "\u5468\u4e09",
                    181
                ],
                [
                    "\u5468\u56db",
                    234
                ],
                [
                    "\u5468\u4e94",
                    210
                ],
                [
                    "\u5468\u516d",
                    290
                ],
                [
                    "\u5468\u65e5",
                    150
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 0,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.8,
                "color":                                     new echarts.graphic.LinearGradient(                                        0, 0, 0, 1,                                        [{offset: 0, color: 'rgba(255, 191, 0)'},                                        {offset: 1, color: 'rgba(224, 62, 76)'}],                                        false)                                    
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "others_mem",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "clip": true,
            "step": false,
            "stack": "stack",
            "data": [
                [
                    "\u5468\u4e00",
                    220
                ],
                [
                    "\u5468\u4e8c",
                    302
                ],
                [
                    "\u5468\u4e09",
                    181
                ],
                [
                    "\u5468\u56db",
                    234
                ],
                [
                    "\u5468\u4e94",
                    210
                ],
                [
                    "\u5468\u516d",
                    290
                ],
                [
                    "\u5468\u65e5",
                    150
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 0,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.8,
                "color":                                     new echarts.graphic.LinearGradient(                                        0, 0, 0, 1,                                        [{offset: 0, color: 'rgba(255, 191, 100)'},                                        {offset: 1, color: 'rgba(224, 62, 76)'}],                                        false)                                    
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "system_mem",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "clip": true,
            "step": false,
            "stack": "stack",
            "data": [
                [
                    "\u5468\u4e00",
                    220
                ],
                [
                    "\u5468\u4e8c",
                    302
                ],
                [
                    "\u5468\u4e09",
                    181
                ],
                [
                    "\u5468\u56db",
                    234
                ],
                [
                    "\u5468\u4e94",
                    210
                ],
                [
                    "\u5468\u516d",
                    290
                ],
                [
                    "\u5468\u65e5",
                    150
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 0,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.8,
                "color":                                     new echarts.graphic.LinearGradient(                                        0, 0, 0, 1,                                        [{offset: 0, color: 'rgba(225, 191, 50)'},                                        {offset: 1, color: 'rgba(221, 62, 76)'}],                                        false)                                    
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "total_mem",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "clip": true,
            "step": false,
            "stack": "stack",
            "data": [
                [
                    "\u5468\u4e00",
                    220
                ],
                [
                    "\u5468\u4e8c",
                    302
                ],
                [
                    "\u5468\u4e09",
                    181
                ],
                [
                    "\u5468\u56db",
                    234
                ],
                [
                    "\u5468\u4e94",
                    210
                ],
                [
                    "\u5468\u516d",
                    290
                ],
                [
                    "\u5468\u65e5",
                    150
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 0,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.8,
                "color":                                     new echarts.graphic.LinearGradient(                                        0, 0, 0, 1,                                        [{offset: 0, color: 'rgba(105, 191, 60)'},                                        {offset: 1, color: 'rgba(224, 62, 76)'}],                                        false)                                    
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "java_mem",
                "native_mem",
                "code_mem",
                "stack_mem",
                "graph_mem",
                "others_mem",
                "system_mem",
                "total_mem"
            ],
            "selected": {
                "java_mem": true,
                "native_mem": true,
                "code_mem": true,
                "stack_mem": true,
                "graph_mem": true,
                "others_mem": true,
                "system_mem": true,
                "total_mem": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5468\u4e00",
                "\u5468\u4e8c",
                "\u5468\u4e09",
                "\u5468\u56db",
                "\u5468\u4e94",
                "\u5468\u516d",
                "\u5468\u65e5"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": false,
                "onZero": true,
                "onZeroAxisIndex": 0
            },
            "axisTick": {
                "show": false,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "#E0E6F1"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_a14ba38c2de74a4fa8c5973b86d1b2ec.setOption(option_a14ba38c2de74a4fa8c5973b86d1b2ec);
    </script>
</body>
</html>
